:root { /* variáveis na raiz */
    --branco-principal: #FFFFFF; 
    --cinza-secundario: #c0c0c0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
    --fonte-principal: 'Inter';
}

body {
    background-color: var(--cor-de-fundo); /* cor de fundo */
    color: var(--branco-principal); /* cor do texto no body */
    font-family: var(--fonte-principal); /* nome da fonte */
    font-size: 16px; /* tamanho da fonte */
    font-weight: 400; /* peso da fonte */
}

* {
    margin: 0; /* margem */
    padding: 0; /* preenchimento */
}

.principal {
    background-image: url("img/Background.png"); /* imagem de fundo */
    background-repeat: no-repeat; /* não espelhar a imagem */
    background-size: contain; /* tamanho do fundo para preencher todo o container */
    align-items: center; /* alinhar ao centro da coluna */
    text-align: center; /* alinha no centro toda a seção */
}

.container {
    height: 100vh; /* altura 100% da tela */
    display: grid; /* separa os elementos por tela (padrão: linhas) */
    grid-template-columns: 50% 50%; /* ocupa o espaço por colunas */
}

.container__botao { 
    background-color: var(--botao-azul); /*cor de fundo do botão */
    border-radius: 5px; /* bordas arredondadas */
    padding: 1em; /* margem interna no botão */
    color: var(--branco-principal); /* cor da escrita no botão */
    display: block; /* ocupar o bloco inteiro */
    text-decoration: none; /* sem decoração do texto */
    margin-bottom: 1em;
}

.botao_secundario { 
    background-color: transparent; /* fundo transparente */
    border: 2px solid var(--branco-principal); /* tamanho da borda e linha sólida com a cor branca */
}

.container__aviso {
    font-size: 12px; /* fonte do aviso */
    color: var(--cinza-secundario); /* cor do aviso */
}

.container__titulo {
    font-size: 28px; /* fonte do titulo */
    font-weight: 700; /* peso do título */
}

.container__imagem {
    margin: 1em 0 2em 0; /* margem para imagem */
}

.container__caixa {
    margin: 0 6em; /* margem da div completa */
}

.secundario__imagem {
    width: 80%; /* ocupação da imagem */
}

.secundario {
    align-items: center; /* centralizando os elementos da coluna */
    margin: 0 10em; /* margem dos elementos da coluna */
}

.descricao__titulo {
    font-weight: 700; /* peso da fonte da descrição */
    font-size: 48px; /* tamanho */
    color: var(--branco-principal); /* cor */
    margin-bottom: 0.1em; /* distância do título e descrição */
}


.descicao__texto {
    color: var(--cinza-secundario); /* cor do texto */
}

.secundario__botao {
    display: inline-block; /* botão ficou organizado em linhas e abaixo do texto */
    margin-top: 1em; /* mergem do botão */
}

.container__descricao {
    padding: 1em;
}